/dist
/.angular
/node_modules
/npm-debug.log
/yarn-error.log
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
src/assets/images/projects/design-catalog/de/
src/assets/images/projects/design-catalog/en/
src/assets/images/projects/design-catalog/masonry/