/*###############################
###
###     app.component.scss
###     Produktion App
###     BASED ON: Angular  21.02.0, SCSS,
###     AUTHOR: Benjamin Bennewitz
###
###
###       ██████╗  ▀█
###       ██╔══██╗ █▄
###       ██████╦╝
###       ██╔══██╗
###       ██████╦╝
###       ╚═════╝
###
###
#################################*/

/* ==========================================================================
   INHALTSVERZEICHNIS

   01   Basis
   02   App Shell
   ========================================================================== */

/* ==========================================================================
   01   Basis
   ========================================================================== */

:host {
   display: block;
   min-height: 100svh;
}

/* ==========================================================================
   02   App Shell
   ========================================================================== */

.app-shell {
   position: relative;
   z-index: 1;
}